---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  misc-*,
  -readability-braces-around-statements,
  -readability-magic-numbers,
  -modernize-use-trailing-return-type,
FormatStyle: file
...

